<fieldset class="grid gap-6 sm:grid-cols-2 md:grid-cols-3" 
    style="--accent-text: var(--color-typography); --accent-bg: var(--color-background-tone);" data-form-newsletters :class="memberNewsletters.length > 0 ? '[&+[data-form-subscribe]]:opacity-100 [&+[data-form-subscribe]]:pointer-events-auto' : '[&+[data-form-subscribe]]:opacity-50 [&+[data-form-subscribe]]:pointer-events-none'">
  <legend class="sr-only">{{t "Newsletters"}}</legend>
  {{#foreach newsletters}}
    <label class="flex flex-col items-start gap-3 bg-(--accent-bg) text-(--accent-text) rounded-theme p-5 sm:p-6 relative cursor-pointer border" :class="{ 'border-typ': memberNewsletters.includes('{{name}}') }" data-newsletter-id="{{id}}" data-newsletter-slug="{{slug}}" data-newsletter-index="{{@number}}">

      {{!-- Symbol --}}
      <figure role="presentation" class="hidden text-3xl before:content-(--symbol-newsletter)" data-newsletter-symbol></figure>

      {{!-- Name --}}
      <h2 class="text-lg leading-tight md:text-xl md:leading-tight font-semibold md:font-medium">{{name}}</h2>

      {{!-- Description --}}
      <p class="flex-1 text-sm text-typ-tone leading-snug md:text-base md:leading-snug max-w-md">{{description}}</p>

      {{!-- Checkbox --}} 
      <input type="checkbox" id="{{slug}}" value="{{name}}" class="bg-bgr absolute top-6 right-6 rounded-full cursor-pointer size-5.5 flex items-center justify-center border border-typ text-typ outline-none ring-0 focus:outline-none focus:ring-0 checked:bg-typ" x-model="memberNewsletters" data-members-newsletter/>

      <span class="absolute top-6 right-6 size-5.5 flex items-center justify-center rounded-full z-10 border border-typ" :class="memberNewsletters.includes('{{name}}') ? 'bg-typ text-bgr' : 'bg-bgr text-typ'">
        <span :class="memberNewsletters.includes('{{name}}') ? 'hidden' : 'block'">
          {{> icon name="plus" icon_class="size-3 stroke-[3.5]"}}
        </span>
        <span :class="memberNewsletters.includes('{{name}}') ? 'block' : 'hidden'">
          {{> icon name="check" icon_class="size-3 stroke-[3.5]"}}
        </span>
      </span>
    </label>
  {{/foreach}}
</fieldset>